.navbar {
    padding: 1.8rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar-brand {
    width: 90px;
    display: flex;
    align-items: center;
}

.navbar-brand span {
    margin-left: 2rem;
    white-space: nowrap; /* Zapobiega łamaniu tekstu */
}

.brand-and-toggler {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar-toggler-btn {
    transition: var(--transition);
    z-index: 11;
}

.navbar-collapse {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: var(--black-color);
    height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 10rem 3rem 0 3rem;
    transform: translatex(100%);
    transition: var(--transition);
}

.show-navbar-collapse {
    transform: translateX(0);
}

.nav-item {
    margin-bottom: 1.4rem;
    white-space: nowrap; /* Zapobiega łamaniu tekstu w pozycjach menu */
}

.nav-link {
    transition: var(--transition);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.nav-link:hover {
    color: var(--purple-color);
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    padding: 1rem;
    display: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    z-index: 10;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    text-align: left;
    color: var(--black-color);
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--grey-color);
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
        position: relative;
        height: auto;
        padding: 0;
        width: 100%;
        background-color: transparent;
        transform: translateX(0);
        justify-content: flex-end;
        flex-direction: row;
    }

    .navbar-toggler-btn {
        display: none;
    }

    .nav-item {
        margin-bottom: 0;
        margin-left: 2.8rem;
    }

    .nav-link {
        color: var(--black-color);
        font-size: 1.7rem;
        font-weight: 500 !important;
        opacity: 0.8;
    }

    .navbar-nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}
